{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/js/all.js' %}">
    <link rel="shortcut icon" href="{% static 'store/images/icons/favicon.svg' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %} | ZlatMax</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <div class="load column">
        <div class="load__container">
            <div class="load__ring_orange load__ring circle"></div>
            <div class="load__ring_black load__ring circle"></div>
            <div class="load__ring_green load__ring circle"></div>
        </div> 
    </div>
    <script src="{% static 'store/scripts/onload.js' %}"></script>
    {% block body %}
        
    {% endblock body %}
    {% include 'store/templates.html' %}
</body>
</html>