{% extends "store/base.html" %}
{% load static sass_tags %}
{% block title %}Payment Failure{% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% sass_src 'store/styles/pay_status.scss' %}">
    <meta http-equiv="refresh" content="7; url='{% url 'store:cart' %}'" />
{% endblock extra_head %}
{% block body %}
    <div class="wrapper">
        <main class="content column flex-center">
            <div class="face circle">
                <div class="face-container">
                    <div class="eyes row flex-center">
                        <div class="eyes__left failure"></div>
                        <div class="eyes__right failure"></div>
                        <div class="x-mark__left failure"></div>
                        <div class="x-mark__right failure"></div>
                    </div>
                    <div class="mouth"></div>
                </div>
                <div class="sign-container">
                    <div class="sign"></div>
                </div>
            </div>
            <h1>Something went wrong and payment ended up as a failure!</h1>
            <p>Soon you'll be automatically redirected to <a href="{% url 'store:cart' %}" class="link">Cart.</a></p>
        </main>
    </div>
{% endblock %}