{% load static %}
<template id="product-card-template">
    <div class="product-card">
        <div class="product-card__inner">
            <a href="#" class="product-card__image">
                <img alt="product-name">
            </a>
            <div class="product-card__description column">
                <div class="product-card__description-upper column">
                    <input class="product-card__id" type="hidden" value="">
                    <input class="product-card__personal-rating" type="hidden" value="">
                    <div class="product-card__row_title product-card__row row">
                        <h2></h2>
                    </div>
                    <div class="product-card__row_stats product-card__row row">
                        <div class="product-card__size">
                            <h3></h3>
                        </div>
                        <div class="product-card__materials">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="product-card__row_feedback product-card__row row">
                        <div class="product-card__rating row pushable">
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                        </div>
                        <div class="product-card__rate-count">
                            <h3></h3>
                        </div>
                    </div>
                </div>
                <hr class="product-card__description-separator">
                <div class="product-card__description-lower column">
                    <div class="product-card__row_composition product-card__row row">
                        <div class="product-card__price">
                            <h3></h3>
                        </div>
                        <button class="compare-btn pushable"></button>
                        <div class="favourite-toggler">
                            <button onclick="toggleFavourite(this);" class="favourite-n"><img src="{% static 'store/images/icons/favourite-icon.svg' %}" alt="favorite toggle - no" class="bg-white"></button>
                            <button onclick="toggleFavourite(this);" class="favourite-y"><img src="{% static 'store/images/icons/favourite_toggled-icon.svg' %}" alt="favorite toggled - yes" class="bg-white"></button>
                        </div>
                    </div>
                    <button class="btn-orange pushable row flex-center" onclick="toggleCart(this);">Add to the cart <img src="{% static 'store/images/icons/cart-icon.svg' %}" alt="cart-icon"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="products-slider-template">
    <div class="products-slider slider">
        <div class="slider-wrapper">
            <div class="slider-slide">
                <div class="row">
                    <!-- Product cards -->
                </div>
            </div>
        </div>
    </div>
    <div class="slider-pagination"></div>
</template>
<script>
    const toggleCart = async toggler => {
        var id = toggler.parentElement.parentElement.querySelector('.product-card__id').value;
        if (id != '') {  
            let csrf = new DOMParser().parseFromString(`{% csrf_token %}`, 'text/html').querySelector('input').value;
            await fetch(`/api/product/${id}/toggle-cart/`, { 
                method: "PUT", 
                headers: { 'X-CSRFToken':  csrf }
            })
            var cartCounter = document.querySelector('.page-header .cart-btn'),
                purchaseCount = Number(cartCounter.getAttribute('purchase-count')),
                purchaseSummary = document.querySelector('#purchase-summary'),
                priceAmount = Number(purchaseSummary.textContent),
                productPrice = Number(toggler.parentElement.querySelector('.product-card__price h3 span').textContent);

            for (let productId of document.querySelectorAll(`.product-card__id[value="${id}"]`)) {
                var btn = productId.parentElement.parentElement.querySelector('.btn-orange');
                btn.classList.toggle('toggled');
                
                if (btn.classList.contains('toggled')) {
                    btn.innerHTML = `Remove from the cart <img src="{% static 'store/images/icons/cart-icon.svg' %}" alt="cart-icon">`;
                    console.log(btn);
                    cartCounter.setAttribute('purchase-count', purchaseCount + 1);
                    purchaseSummary.textContent = (priceAmount + productPrice).toFixed(2);
                 } else { 
                    btn.innerHTML = `Add to the cart <img src="{% static 'store/images/icons/cart-icon.svg' %}" alt="cart-icon">`;
                    cartCounter.setAttribute('purchase-count', purchaseCount - 1);
                    purchaseSummary.textContent = (priceAmount - productPrice).toFixed(2);
                 }
            }
        } else { alert(`Product has no id: ${id}`) }
    }
    const toggleFavourite = async toggler => {
        let id = toggler.parentElement.parentElement.parentElement.parentElement.querySelector('.product-card__id').value;
        if (id != '') {  
            let csrf = new DOMParser().parseFromString(`{% csrf_token %}`, 'text/html').querySelector('input').value;
            await fetch(`/api/product/${id}/toggle-favourite/`, { 
                method: "PUT", 
                headers: { 'X-CSRFToken':  csrf }
            })
            for (let productId of document.querySelectorAll(`.product-card__id[value="${id}"]`)) {
                productId.parentElement.parentElement.querySelector('.favourite-toggler').classList.toggle('toggled');
            }
        } else { alert(`Product has no id: ${id}`) }
    }
</script>