{% load static %}
<template id="product-card-template">
    <div class="product-card">
        <div class="product-card__inner">
            <a href="#" class="product-card__image">
                <img alt="product-name">
            </a>
            <div class="product-card__description column">
                <div class="product-card__description-upper column">
                    <input class="product-card__id" type="hidden" value="">
                    <input class="product-card__personal-rating" type="hidden" value="">
                    <div class="product-card__row_title product-card__row row">
                        <h2></h2>
                    </div>
                    <div class="product-card__row_stats product-card__row row">
                        <div class="product-card__size">
                            <h3></h3>
                        </div>
                        <div class="product-card__materials">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="product-card__row_feedback product-card__row row">
                        <div class="product-card__rating row pushable">
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                            <button class="rate bg-white">
                                <img class="rating-star" src="{% static 'store/images/icons/emptystar-icon.svg' %}" alt="rating-star">
                            </button>
                        </div>
                        <div class="product-card__rate-count">
                            <h3></h3>
                        </div>
                    </div>
                </div>
                <hr class="product-card__description-separator">
                <div class="product-card__description-lower column">
                    <div class="product-card__row_composition product-card__row row">
                        <div class="product-card__price">
                            <h3></h3>
                        </div>
                        <button class="compare-btn pushable"></button>
                        <div class="favourite-toggler">
                            <button onclick="this.parentElement.classList.toggle('toggled');" class="favourite-n"><img src="{% static 'store/images/icons/favourite-icon.svg' %}" alt="favorite toggle - no" class="bg-white"></button>
                            <button onclick="this.parentElement.classList.toggle('toggled');" class="favourite-y"><img src="{% static 'store/images/icons/favourite_toggled-icon.svg' %}" alt="favorite toggled - yes" class="bg-white"></button>
                        </div>
                    </div>
                    <button class="btn-orange pushable row flex-center">Add to the cart <img src="{% static 'store/images/icons/cart-icon.svg' %}" alt="cart-icon"></button>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="products-slider-template">
    <div class="products-slider slider">
        <div class="slider-wrapper">
            <div class="slider-slide">
                <div class="row">
                    <!-- Product cards -->
                </div>
            </div>
        </div>
    </div>
    <div class="slider-pagination"></div>
</template>